@widget-prefix-cls: ~"@{css-prefix}widget";

/*dropdown color box starts*/
/*dropdown color box ends*/
/* Edit Heading starts*/
.@{widget-prefix-cls}{
	height: -webkit-fill-available;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid rgb(196,198,200);
	border-radius: 0px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);

	&-body-true{
		> .vw-widget-body{
			display: block;
		}
	}
	&-body-false{
		> .vw-widget-body{
			display: none;
		}
	}
	&-fullscreen-true {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        z-index: 99;
		left: 0;
    }
	&-heading {
		height: 42px;
        padding: 10px 8px 10px 20px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        color: #333;
        background-color: #fff;
        border-color: rgb(196,198,200);
		span.heading-title{
			font-size: 16px;
			font-weight: bold;
			color: rgb(18,31,41);
			vertical-align: middle;
			line-height: normal;
			cursor: default;
		}
    }
	&-options{ 
		a{
			border:1px solid transparent;
			background: transparent;
			padding:4px 8px;
			border-radius:25px;
			text-decoration:none;
			cursor: pointer;
			input[type="color"]{
				cursor: pointer;
				padding: 0px;
				width: 17px;
				height: 23px;
				border-width: 0;
				height: 20px;
				background-color: transparent;
				
			}
			input.text-color{
				opacity: 0;
			}
			#svg{
				position: absolute;
			}
		}
	}
	&-link{ 
		a{
			cursor: pointer;
			text-decoration: none;
			font-size: 14px;
			span{
				font-size: 16px;
				font-weight: bold;
			}
		}
	}
	&-body{
        padding:0px;
    }
	&-txt {
		color: #333;
		background: transparent;
		border: 1px solid #333;
		border-radius: 4px;
		outline: none!important;
		font-size: 15px;
	}
}